

.field{
    color: #000;
    padding: 10px;
    margin: 5px;
    font-weight: 100;
    
  
    
  }
  .field >::placeholder{
    padding: 3px;
  }
  
    .viral13 {
    display:block;
    width: 60%;
  
  } 
  
  
  .viral2{
    display: block;
    width: 100%;
    height: 150px;
  }

  .viral27{
    display: block;
    width: 95%;
    height: 550px;
  }

  .xy{
     display: flex;
  }
  .viral24{
    display: block;
    width: 100%;
    height: 280px;
  }
  
  
  
  .cardio > input{
    padding: 5px;
    width: 60%;
    
    
  }
  
  /* .ssss{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  } */
  .age{
    display: block;
    /* font-weight: bold; */
    
  }
  
  .agep{
    display: block;
    font-weight: bold;
    
  }
  .name{
    display: block;
  }
  .namez{
    display: block;
    font-weight: bold;
  }
  
  .cardio1 > input{
    padding: 5px;
    width: 20%;
    
    
  }
  
  .cardio2 > input{
    padding: 5px;
    width: 95%;
    
    
  }
  .ages{
    font-weight: bold;
  }
  
  
  .ward {
    display: inline;
  }
  .ward  > input{
     padding-right: 50px;
  }
  
  .cardio4> input{
    padding: 5px;
    width: 25%;
    
    
  }
  .cardio5> input{
    padding: 5px;
    width: 70%;
    
    
    
  }
  .cardiok> input{
    padding: 5px;
    width: 70%;
   

  }
  .cardiok> label{
    display: block;
  }
  .uu  {
    width: 50px;
  }
  .ww{
    margin-top: 20px;
    margin-left:-100px;
  }
  .www{
    margin-top: 20px;
    margin-left: 50px;
  }
  .qq{
    margin-left:-105px ;
    margin-top: 20px;
    
  }
  .pp >input {
    margin-left: 50px;
   
  
  }
  .pp >label{
    margin-right: 0px;
  
  }
  .ppp >input {
    margin-left: 23px;
   
  
  }
  .pppp >input {
    margin-left: 66px;
   
  
  }
  .uibutton{
    margin-left: -48%;
  
  }
  .uibuttons{
    margin-left: 0%;
  
  }
  .uiibutton{
    margin-left: -20%;
  }
    
  .kk{
    width: 65%;
    height: 30px;
  }
  
  .cardiop > input{
    padding: 3px;
    width: 11%;
   
    
    
  }
  
  .wwq{
    margin-top: 2px;
    margin-left:-150px;
  }
  
  .kk1{
    width: 65%;
    height: 30px;
    
  }
  
  .marrital{
    width: 30%;
    height: 30px;
    
  }
  .wws {
  
    margin-top: 2px;
    margin-left:-200px;
    width: 290%;
  }
  .sr{
    display: block;
  }
  
  .cardio .aa{
    margin-left: -20px;
  }
  
  .kk9{
    width: 30%;
    height: 30px;
    
  }
  .wwsl {
  
    margin-top: 2px;
    margin-left:-2px;
    width: 216%;
  }
  .wwsl .sr6{
    display: block;
  }
  .text-center .yes{
    display: block;
    
  }
  .cc{
    display: block;
    padding-left: 450px;
    margin-top: 100px;
    font-weight: bold;
  }
  
  tr th input{
    width: 8rem;
  }
  
  
  
  
  
  
  
  
  
  
  